
:root {
 --gray:  #e8e4e1;
 --black: #1f2021;
}

body {
    background-color: var(--gray);
    margin: 0;
    padding: 0;
}

.header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.header h1 {
    flex: 90;
}

.menuButton {
  background-color: transparent;
  border: 0;
}

.menuButton .icon {
    padding-top: 1rem;
    width: 40px;
}

.menu
{
    background-color: #1f2021;
    color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
    height: 100%;
    margin-right: -50%;
    min-width: 40%;
}

.menu .menuButton .icon{
   padding-top: 0;
   width: 20px;
   fill: white;
}

.navigationHead{
     padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 2px solid #fff;
    align-items: center;
    padding: 20px;
}


.open {
    margin-right: 0;
    transition: margin-right 1.5s;
}

.menu a {
    color: #fff;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation{
    padding: 20px;
    min-height: calc(100% - 100px);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main{
     font-size: 28px;

}

.secondary {
    max-width: 300px;
    margin: 0 auto 40px;
}

.secondary  ul{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   gap: 10px;
   flex-wrap: wrap;
}
